In [480]:
import pandas as pd
import numpy as np

In [481]:
data = {
'Regione': [
'Nord', 'Sud', 'Nord', 'Est', 'Ovest', 'Sud',
'Est', 'Nord', 'Ovest', 'Sud', 'Nord', 'Est', 'Sud'
],
'Prodotto': [
'A', 'A', 'B', 'B', 'A', 'B',
'A', 'B', 'B', 'A', 'A', 'B', 'A'
],
'Vendite': [
100, 150, 200, 250, 300, 350,
400, 180, 260, 220, 130, 310, 170
]
}

df = pd.DataFrame(data)
print(df)

   Regione Prodotto  Vendite
0     Nord        A      100
1      Sud        A      150
2     Nord        B      200
3      Est        B      250
4    Ovest        A      300
5      Sud        B      350
6      Est        A      400
7     Nord        B      180
8    Ovest        B      260
9      Sud        A      220
10    Nord        A      130
11     Est        B      310
12     Sud        A      170

In [482]:
pivot_sum = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc='sum', fill_value=0)
print(pivot_sum)

Prodotto    A    B
Regione
Est       400  560
Nord      230  380
Ovest     300  260
Sud       540  350

In [483]:
pivot_multi = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc=['sum', 'mean'], fill_value=0)
print(pivot_multi)

          sum        mean
Prodotto    A    B      A      B
Regione
Est       400  560  400.0  280.0
Nord      230  380  115.0  190.0
Ovest     300  260  300.0  260.0
Sud       540  350  180.0  350.0

In [484]:
def range_vendite(x):
    return x.max() - x.min()

pivot_custom = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc=range_vendite, fill_value=0)
print(pivot_custom)

Prodotto   A   B
Regione
Est        0  60
Nord      30  20
Ovest      0   0
Sud       70   0

mostrare la media delle vendite di ogni combinazione di Regione e Prodotto

In [485]:
data = {
'Regione': ['Nord', 'Sud', 'Nord', 'Est', 'Ovest', 'Sud', 'Est', 'Ovest', 'Sud', 'Est', 'Sud', 'Ovest'],
'Prodotto': ['B', 'A', 'B', 'B', 'A', 'B', 'A', 'B', 'B', 'A', 'A', 'B'],
'Vendite': [100, 150, 200, 250, 300, 350, 400, 450, 150, 1100, 50, 200]
}
df = pd.DataFrame(data)

In [486]:
# esempio_fn = {
#     'D': sum,
#     'F': mean,
# }
# pivot_custom = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc=esempio_fn, fill_value=0)
pivot_custom = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc=['mean', 'std'], fill_value=0)
pivot_custom

           mean                std
Prodotto      A      B           A           B
Regione
Est       750.0  250.0  494.974747    0.000000
Nord        0.0  150.0    0.000000   70.710678
Ovest     300.0  325.0    0.000000  176.776695
Sud       100.0  250.0   70.710678  141.421356

Prendiamo i dati di prima e calcoliamo la varianza

In [487]:
def calc_variance(x):
    media = np.mean(x)
    s=0.
    n = 0.
    for i in x.values:
        s += (i-media)**2
        n +=1
    if n>1:
        s = s/n-1
    else:
        s=0.
    print(s,'/',np.var(x))
    return np.var(x)

pivot_custom2 = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc=calc_variance, fill_value=0)
pivot_custom2

122499.0 / 122500.0
0.0 / 0.0
2499.0 / 2500.0
0.0 / 0.0
15624.0 / 15625.0
2499.0 / 2500.0
9999.0 / 10000.0

Prodotto         A        B
Regione
Est       122500.0      0.0
Nord           0.0   2500.0
Ovest          0.0  15625.0
Sud         2500.0  10000.0