In [2]:
import pandas as pd
import numpy as np

In [3]:
obj = pd.Series([4.5, 7.2, -5, 3.6], index=['d', 'c', 'b', 'a'])
obj

d    4.5
c    7.2
b   -5.0
a    3.6
dtype: float64

In [4]:
obj2 = obj.reindex(['a', 'b', 'c', 'e'])
obj2

a    3.6
b   -5.0
c    7.2
e    NaN
dtype: float64

In [5]:
obj.sort_index()

a    3.6
b   -5.0
c    7.2
d    4.5
dtype: float64

In [6]:
obj3 = pd.Series(['blue', 'green', 'yellow'], index=[0,2,4])
obj3

0      blue
2     green
4    yellow
dtype: object

In [7]:
res = obj3.reindex(np.arange(6), method="ffill")
res

0      blue
1      blue
2     green
3     green
4    yellow
5    yellow
dtype: object

In [9]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=["a", "b", "c", "d"], columns=["one", "two"])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [10]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [11]:
df.sum(axis="columns")

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [13]:
df.max(), df.max(axis="columns")

(one    7.1
 two   -1.3
 dtype: float64,
 a    1.40
 b    7.10
 c     NaN
 d    0.75
 dtype: float64)

In [14]:
df.idxmax()

one    b
two    d
dtype: object

In [15]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000