1 -> Calcolare la media dei voti per ogni materia
2 -> Calcolare la media dei voti di ogni studente
3 -> Calcolare la media dei voti di ogni studente in ogni materia

In [91]:
import pandas as pd
import numpy as np

In [92]:
data = {
'Student': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science', 'English', 'English', 'English', 'Science', 'Math', 'English'],
'Score': [85, 90, 95, 80, 70, 75, 88, 92, 85, 55, 67, 45],
}
df = pd.DataFrame(data)

df.head()

   Student  Subject  Score
0    Alice     Math     85
1      Bob     Math     90
2  Charlie     Math     95
3    Alice  Science     80
4      Bob  Science     70

1 -> Calcolare la media dei voti per ogni materia

In [93]:
grup_materia = df.groupby('Subject')['Score'].mean()
grup_materia

Subject
English    77.50
Math       84.25
Science    70.00
Name: Score, dtype: float64

2 -> Calcolare la media dei voti di ogni studente

In [94]:
grup_studente = df.groupby('Student')['Score'].mean()
grup_studente

Student
Alice      77.00
Bob        79.75
Charlie    75.00
Name: Score, dtype: float64

3 -> Calcolare la media dei voti di ogni studente in ogni materia

In [95]:
df_avg = df.groupby(['Student', 'Subject']).mean()
df_avg

                 Score
Student Subject
Alice   English   88.0
        Math      85.0
        Science   67.5
Bob     English   92.0
        Math      78.5
        Science   70.0
Charlie English   65.0
        Math      95.0
        Science   75.0